In [ ]:
## scale 0.25
python ./predict.py \
--prediction_input_path=$prediction_input_path \
--prediction_output_path=$prediction_output_path_1 \
--training_log_dir=$training_log_dir_1 \
--checkpoint_name=model.cpkt-${i_1}0000 \
--task=mass \
--normalize_patch=False \
--whole_image=True \
--unet_depth=5 \
--dilate=-200 \
--scale=0.25 \
--cuda_device_id=0 \
--save_frozen_graph=False \
--restore_from_frozen_graph=False \
--frozen_square_size=3072 \
--padding='SAME'


## scale 0.5
python ./predict.py \
--prediction_input_path=$prediction_input_path \
--prediction_output_path=$prediction_output_path_2 \
--training_log_dir=$training_log_dir_2 \
--checkpoint_name=model.cpkt-${i_2}0000 \
--task=mass \
--normalize_patch=False \
--whole_image=True \
--unet_depth=5 \
--dilate=-200 \
--scale=0.5 \
--cuda_device_id=0 \
--save_frozen_graph=False \
--restore_from_frozen_graph=False \
--frozen_square_size=3072 \
--padding='SAME'


## scale 1.0
python ./predict.py \
--prediction_input_path=$prediction_input_path \
--prediction_output_path=$prediction_output_path_3 \
--training_log_dir=$training_log_dir_3 \
--checkpoint_name=model.cpkt-${i_3}0000 \
--task=mass \
--normalize_patch=False \
--whole_image=True \
--unet_depth=5 \
--dilate=-200 \
--scale=1.0 \
--cuda_device_id=0 \
--save_frozen_graph=False \
--restore_from_frozen_graph=False \
--frozen_square_size=3072 \
--padding='SAME'

exit

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s=pd.Series([1,3,np.nan,5])
s

0    1.0
1    3.0
2    NaN
3    5.0
dtype: float64

In [9]:
dates=pd.date_range('1/12/2013',periods=6)
dates

DatetimeIndex(['2013-01-12', '2013-01-13', '2013-01-14', '2013-01-15',
               '2013-01-16', '2013-01-17'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,'B' : pd.Timestamp('20130102'), \
                       'C' : pd.Series(1,index=list(range(4)),dtype='float32'), \
                      'D' : np.array([3] * 4,dtype='int32'), \
                        'E' : pd.Categorical(["test","train","test","train"]), \
                        'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [16]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [17]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [18]:
dates

DatetimeIndex(['2013-01-12', '2013-01-13', '2013-01-14', '2013-01-15',
               '2013-01-16', '2013-01-17'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-12 -0.598897  1.431069 -0.314439  0.655093
2013-01-13 -0.501585 -1.706416 -0.168462  1.103774
2013-01-14 -1.947585 -1.449537 -0.502156 -1.023739
2013-01-15 -0.250754 -0.865291  0.197827 -0.245424
2013-01-16  0.409762  1.493277 -1.511769  1.225725
2013-01-17  0.200177 -0.776945  0.452585 -1.243924

In [27]:
df.head(2)

                   A         B         C         D
2013-01-12 -0.598897  1.431069 -0.314439  0.655093
2013-01-13 -0.501585 -1.706416 -0.168462  1.103774

In [33]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2013-01-17  0.200177 -0.776945  0.452585 -1.243924
2013-01-16  0.409762  1.493277 -1.511769  1.225725
2013-01-15 -0.250754 -0.865291  0.197827 -0.245424
2013-01-14 -1.947585 -1.449537 -0.502156 -1.023739
2013-01-13 -0.501585 -1.706416 -0.168462  1.103774
2013-01-12 -0.598897  1.431069 -0.314439  0.655093

In [34]:
# selection by label (by row)
df.loc[dates[0]]

A   -0.598897
B    1.431069
C   -0.314439
D    0.655093
Name: 2013-01-12 00:00:00, dtype: float64

In [35]:
#selection by col
df.A

2013-01-12   -0.598897
2013-01-13   -0.501585
2013-01-14   -1.947585
2013-01-15   -0.250754
2013-01-16    0.409762
2013-01-17    0.200177
Freq: D, Name: A, dtype: float64

In [36]:
df.loc[:,['A','B']]

                   A         B
2013-01-12 -0.598897  1.431069
2013-01-13 -0.501585 -1.706416
2013-01-14 -1.947585 -1.449537
2013-01-15 -0.250754 -0.865291
2013-01-16  0.409762  1.493277
2013-01-17  0.200177 -0.776945

In [39]:
df.loc[df.index[0:2],['A','B']]

                   A         B
2013-01-12 -0.598897  1.431069
2013-01-13 -0.501585 -1.706416

In [42]:
#select by index, similar to python
df.iloc[3:5,1:2]

                   B
2013-01-15 -0.865291
2013-01-16  1.493277

In [48]:
# add new columns
s1=pd.Series([1,2,3,4,5,6],index=dates)
df['F']=s1
df

                   A         B         C         D  F
2013-01-12 -0.598897  1.431069 -0.314439  0.655093  1
2013-01-13 -0.501585 -1.706416 -0.168462  1.103774  2
2013-01-14 -1.947585 -1.449537 -0.502156 -1.023739  3
2013-01-15 -0.250754 -0.865291  0.197827 -0.245424  4
2013-01-16  0.409762  1.493277 -1.511769  1.225725  5
2013-01-17  0.200177 -0.776945  0.452585 -1.243924  6

In [50]:
# setting values like python
df.iat[0,1]=0
df.at[dates[0],'A']=2
df

                   A         B         C         D  F
2013-01-12  2.000000  0.000000 -0.314439  0.655093  1
2013-01-13 -0.501585 -1.706416 -0.168462  1.103774  2
2013-01-14 -1.947585 -1.449537 -0.502156 -1.023739  3
2013-01-15 -0.250754 -0.865291  0.197827 -0.245424  4
2013-01-16  0.409762  1.493277 -1.511769  1.225725  5
2013-01-17  0.200177 -0.776945  0.452585 -1.243924  6

In [54]:
# where operation
df2=df.copy()
df2[df2>0]= -df2
df2

                   A         B         C         D  F
2013-01-12 -2.000000  0.000000 -0.314439 -0.655093 -1
2013-01-13 -0.501585 -1.706416 -0.168462 -1.103774 -2
2013-01-14 -1.947585 -1.449537 -0.502156 -1.023739 -3
2013-01-15 -0.250754 -0.865291 -0.197827 -0.245424 -4
2013-01-16 -0.409762 -1.493277 -1.511769 -1.225725 -5
2013-01-17 -0.200177 -0.776945 -0.452585 -1.243924 -6

In [ ]:
# deal with nan
fillna
dropna

In [56]:
# apply function to col
df.apply(lambda x:x.max()-x.min())

A    3.947585
B    3.199693
C    1.964355
D    2.469649
F    5.000000
dtype: float64

In [63]:
#merge
df.iloc[:3,1:2]

                   B
2013-01-12  0.000000
2013-01-13 -1.706416
2013-01-14 -1.449537